@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Bungee+Hairline&family=Bungee+Shade&family=Bungee+Spice&family=Caveat&family=Comfortaa:wght@300&family=Cormorant+Garamond:wght@300&family=Cormorant+Infant:wght@700&family=Josefin+Sans:wght@100;700&family=Kaushan+Script&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@300;400;800;900&family=Oswald:wght@700&family=Prata&family=Roboto:wght@900&family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Russo+One&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&family=Montserrat:wght@100;500&family=Roboto:wght@500&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&family=Montserrat:wght@500&family=Roboto:wght@500&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:ital,wght@0,100;0,500;0,600;0,700;1,800&family=Oswald:wght@200&family=Poppins:wght@400;700&family=Quicksand:wght@300&family=Raleway:wght@200;400&display=swap');
body {
    background: #09091b;
    width: 100%;
    /*height: 500vh;*/
    height: 150%;
}
p {
    line-height: 30px;
}
.card {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    background: #161627;
    height: 360vh;
    border-radius: 10px;
}
.circle {
    width: 60px;
    height: 60px;
    background: url("image/star.png") no-repeat center center;
    border-radius: 50%;
    margin: 20px 0 0 20px;
    display: inline-block;
    border: 1px solid #0093E9;
}
.circle h1, .circle h2, .preview {
    user-select: none;
}
p:not(span) {
    user-select: none;
}
/*.circle:hover {
    border: 1px solid #fff;
    transform: rotate(360deg);
    transition: 2s;
}*/
.header h1, .header h2 {
    width: 500px;
    margin-left: 75px;
}
.header h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 5px;
}
.header h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: -10px;
}
.header {
    display: inline-block;
}
.image {
    background: url("https://images.unsplash.com/photo-1534665482403-a909d0d97c67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
    margin-top: 20px; 
}
.card p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin: 30px 0 0 20px;
}
p span {
    background: #20273c;
    padding: 2px 5px;
    border-radius: 5px;
}
.preview {
    width: 90%;
    margin: 5% 5% 0 5%;
    background: #0d0d16;
    height: 90vh;
    border-radius: 5px 5px 0 0;
}
.preview h1 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0 0 20px;
    display: inline-block;
}
.card1 {
    perspective: 150rem;
    position: relative;
    height: 40rem;
    max-width: 400px;
    margin: 2rem;
    box-shadow: none;
    background: none;
}
.card-side {
    height: 35rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding: 2rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
}
.card-side.front {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.card:hover .card-side.front {
    transform: rotateY(180deg);
}
.card:hover .card-side.back {
    transform: rotateY(0deg);
}
.code__html {
    background: #20273c;
    height: 300px;
    width: 90%;
    margin: 0 5% 0 5%;
}
.code__css {
    background: #20273c ;
    height: 1300px;
    width: 90%;
    margin: 0 5% 0 5%;
}
.code__html p, .code__css p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    opacity: 0.8;
    margin: 20px 0 0 20px;
    display: inline-block;
    user-select: none;
}
.code {
    color: #fff;
   /* font-family: 'Oswald', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 0 20px;
}
.code__div {
    color: #3da1f6;
}
.code__class {
    color: #c4d47e;
}
.code__inside {
    color: #ac92d8;
}
.code__text {
    color: #e5584d;
}
.code__number {
    color: #e29000;
}
.line {
    color: #374367;
    height: 2px;
    width: 90%;
    margin: 0 5% 0 5%;
}
.code_css i {
    font-size: 30px;
    color: #374367;
    margin-left: 95%
}
.menu {
    display: inline-block;
    width: 90%;
    margin: 0 5% 0 5%;
}
.menu i {
    color: #fff;
    font-size: 30px;
}
#go1 {
    margin: 10px 0 0 30%;
    padding: 10px 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
}
#go2 {
    margin: 10px 0 0 28%;
    padding: 10px 10px;
    background: transparent;
    border-radius: 50%;
    border: 1px solid transparent;
}
#go1:hover, #go2:hover {
    color: #3da1f6;
    background: #374367;
    transition: .5s;
    border: 1px solid #374367;
}
#go1:not(:hover), #go2:not(:hover) {
    transition: .5s;
}

nav ul li a {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 5px;
}
nav ul li a i {
    font-size: 20px;
}
nav {
    margin: 0 50px 0 0;
    display: inline-block;
    position: absolute;
    width: 120vh;
    right: 5%;
    padding-top:30px;
    top: 0;
}
/*.background {
    position: fixed;
}*/
/*.wrapper {
    padding-top: 20px;
    width: 100vh;
    margin: 0 auto;
    overflow: hidden;
}
.menu ul .buttons {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 5px;
}
.menu ul .link i {
    font-size: 20px;
}
.menu ul {
    margin-left: 0;
    list-style: none;
    text-align: center;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}*/
.span__line {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 80px;
    opacity: 0.1;
    display: inline-block;
}
.link {
    margin: 10px;
}
.buttons {
	position: relative;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.buttons:after {
	display: block;
	position: absolute;
    bottom: -5px;;
	right: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #00c0e8; /*задаём цвет линии*/
	content: "";
	transition: width .45s ease-out; /*задаём время анимации*/
}

.buttons:after { left: 50%; transform: translateX(-50%); }

.buttons:hover:after,
.buttons:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.link:hover {
    color: red;
    transition: .5s cubic-bezier(.95, .32, .37, 1.21);
}
.link:not(:hover) {
    transition: .5s cubic-bezier(.95, .32, .37, 1.21);
}
.devil {
    color: #fff;
    display: inline-block;
    opacity: 0.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-bottom: 5px;
}
@media (max-width: 991px) {
    nav ul li a {
        margin-right: 20px;
    }
    nav {
        margin: 0 0 0 0;
        padding-top:20px;
        position: absolute;
        top: 0;
    }
    .card {
        width: 60%;
    }
}