@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bree+Serif&family=Bungee+Hairline&family=Bungee+Shade&family=Bungee+Spice&family=Caveat&family=Comfortaa:wght@300&family=Cormorant+Garamond:wght@300&family=Cormorant+Infant:wght@700&family=Josefin+Sans:wght@100;700&family=Kaushan+Script&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@300;400;800;900&family=Oswald:wght@700&family=Prata&family=Roboto:wght@900&family=Rubik+Mono+One&family=Rubik+Moonrocks&family=Russo+One&family=Ubuntu:wght@700&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&family=Montserrat:wght@100;500&family=Roboto:wght@500&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@600&family=Montserrat:wght@500&family=Roboto:wght@500&family=Rubik+Mono+One&display=swap');
body {
    background: #09091b;
    width: 100%;
    height: 500vh;
}
p {
    line-height: 30px;
}
.card {
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background: #161627;
    /*height: 350vh;*/
    height: 380vh;
    border-radius: 10px;
}
.card h1 {
    color: #fff;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 120px;
    margin: 20px 0 0 0;
    letter-spacing: 15px;
    display: inline-block;
}
.card h2 {
    color: red;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin: -100px 0 0 0;
    display: inline-block;
}
.text {
    text-align: center;
}
nav ul li a {
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-right: 30px;
    color: #fff;
    text-decoration: none;
    /*font-size: 20px;*/
    font-size: 18px;
}
nav ul li a i {
    font-size: 20px;
}
nav {
    margin: 0 50px 0 0;
    display: inline-block;
    position: absolute;
    left: 25%;
    top: 30px;
    width: 100vh;
}
.span__line {
    width: 100%;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 80px;
    opacity: 0.1;
    display: inline-block;
}
.link {
    margin: 10px;
}
.buttons {
	position: relative;
	color: #fff; /*задаём цвет ссылки*/
	cursor: pointer;
	line-height: 1; /*задаём высоту строки*/
	text-decoration: none; /*убираем подчёркивание*/
}
.buttons:after {
	display: block;
	position: absolute;
    bottom: -5px;;
	right: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
	width: 0;/*задаём длинну линии до наведения курсора*/
	height: 2px; /*задаём ширину линии*/
	background-color: #fff; /*задаём цвет линии*/
	content: "";
	transition: width .45s ease-out; /*задаём время анимации*/
}
.buttons:after { left: 50%; transform: translateX(-50%); }

.buttons:hover:after,
.buttons:focus:after {
	width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}
.link:hover {
    color: red;
    transition: .5s cubic-bezier(.95, .32, .37, 1.21);
}
.link:not(:hover) {
    transition: .5s cubic-bezier(.95, .32, .37, 1.21);
}
.devil {
    color: #fff;
    display: inline-block;
    opacity: 0.3;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    margin-bottom: 5px;
}
